<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDisplayName</key>
	<string>Lemon Pig</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LPIdentifyProxyURL</key>
	<string>$(LPIdentifyProxyURL)</string>
	<key>LPIdentifyAppToken</key>
	<string>$(LPIdentifyAppToken)</string>
	<key>NSCameraUsageDescription</key>
	<string>Lemon Pig uses your camera to identify fruit.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Lemon Pig can identify fruit from photos in your library.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Pacifico-Regular.ttf</string>
		<string>Geist-Thin.ttf</string>
		<string>Geist-ExtraLight.ttf</string>
		<string>Geist-Light.ttf</string>
		<string>Geist-Regular.ttf</string>
		<string>Geist-Medium.ttf</string>
		<string>Geist-SemiBold.ttf</string>
		<string>Geist-Bold.ttf</string>
		<string>Geist-ExtraBold.ttf</string>
		<string>Geist-Black.ttf</string>
		<string>GeistMono-Thin.ttf</string>
		<string>GeistMono-ExtraLight.ttf</string>
		<string>GeistMono-Light.ttf</string>
		<string>GeistMono-Regular.ttf</string>
		<string>GeistMono-Medium.ttf</string>
		<string>GeistMono-SemiBold.ttf</string>
		<string>GeistMono-Bold.ttf</string>
		<string>GeistMono-ExtraBold.ttf</string>
		<string>GeistMono-Black.ttf</string>
	</array>
</dict>
</plist>
